@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    @* <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />*@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/Store.styles.css" />
    <link rel="stylesheet" href="~/global.css" />
    <link rel="stylesheet" href="/site.css">
    <link rel="stylesheet" href="~/css/firstpage.css">
    <link rel="stylesheet" href="~/css/aboutus.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-Avb2QiuDEEvB4bZJYdft2mNjVShBftLdPG8FJ0V7irTLQ8Uo0qcPxh4Plq7G5tGm0rU+1SPhVotteLpBERwTkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<style>


    * {
        direction: rtl;
        padding: 0%;
        margin: 0%;
        font-weight: 900;
        font-size: 20px;
    }

    a {
        text-decoration: none;
        font-size: 20px;
    }
</style>
<body>

   
    <div class="sectionaval" style="width: 100%;">
        <h1 class="text-white" style="font-size: 45px;">درباره ما بیشتر بدانید!</h1>
    </div>
    <div class="d-flex mb-lg-5" style="text-align: right;justify-content: space-evenly;">
        <div style="width: 50%;"><img class="me-lg-5 mt-lg-5" src="/img/6509982.jpg" style="width: 70%;height: 90%;"></div>
        <div class="ps-5 mt-5" style="width: 50%;">
            <p class="mt-md-5" style="text-align: justify;line-height: 35px;">
                فروشگاه بهاره یک فروشگاه کوچک است. در این فروشگاه محصولاتی مانند لوازم آرایشی،محصولات بهداشتی و لباس عرضه می شود.ما سعی داریم محصولاتمان  را با بهترین کیفیت و کمترین قیمت به مشتریان محترم ارائه کنیم.
            </p>
            <p class="" style="text-align: justify;line-height: 35px;">ما در تلاشیم محصولات ما بهترین تنوع در رنگ،برند داشته باشند تا نیاز مشتریان ما با سلایق و در خواست های متنوع بر طرف شود.</p>
            <p class="" style="text-align: justify;line-height: 35px;">فروشگاه بهاره با عملکرد خوبی که تا اکنون داشته توانسته مشتریان خود را تبدیل به مشتریانی وفادار بکند و نقطه قوت بازار خود را پیدا کرده محصولات خود را در آن زمینه ارتقاء دهد.</p>
        </div>
    </div>

    <div class="text-center mt-sm-5 mb-lg-5">
        <h4>محصولاتی که ما در این فروشگاه ارائه می دهیم.</h4>
        <div class="d-flex mt-xl-5" style="justify-content: space-between;">
            <div style="width: 40%;"><img src="/img/bunch-cosmetics-beauty-vlogger.jpg" style="width: 70%;height: 90%;border-radius: 5px;"></div>
            <div style="width: 40%;"><img src="/img/podium_landscape_bd_22.jpg" style="width: 70%;height: 90%;border-radius: 5px;"></div>
            <div style="width: 40%;"><img src="/img/portrait-pretty-woman-with-flowers.jpg" style="width: 80%;height: 90%;border-radius: 5px;"></div>
        </div>
    </div>




</body>
</html>