@{
    ViewData["Title"] = "AdminPanel";
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="~/global.css" />
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/css/ProductAdminPanel.css" asp-append-version="true" />
}
<div>
    <!-- <section class="d-flex" style="background-color: #eee;" id="show"> -->
    <div class="container py-5 ">
        <div class="row d-flex " id="show">
            <div class="col-12 mt-3">
            </div>
        </div>
    </div>
    <!-- </section> -->

</div>
<div class="login pb-5">
    <div class="login-triangle"></div>

    <h2 class="login-header">اضافه کردن محصول</h2>

    <form class="login-container">
       <div class="d-flex">
            <p><input id="NameProduct" type="text" placeholder="نام محصول"></p>
            <p><input id="ProductDes" type="text" placeholder="توضیحات محصول"></p>
       </div>
        <div class="d-flex">
            <p><input id="orginalPrice" type="text" placeholder="قیمت محصول"></p>
            <p><input id="DiscountPrice" type="text" placeholder="قیمت تخفیف"></p>
       </div>
       <div>
            <div class="d-flex text-center">
                <p>
                    <select name="Brands" id="Brands" style="width:120%">
                     

                    </select>
                </p>
                <p>
                    <select name="Country" id="Country" style="width:120%">
                       

                    </select>
                </p>
                <p>
                    <select name="categoryes" id="categoryes" style="width:120%">
                    </select>
                </p>
            </div>
       </div>
        <div class="d-flex">
         
            <p><input id="Count" type="text" placeholder="تعداد"></p>
            <p><input id="IsActive" type="text" placeholder="موجود"></p>
       </div>
        <div class="d-flex mb-4">
            <input id="ImageURL" type="file"  name="myfile" multiple>
       </div>
        <a onclick="AddProduct()" class="text-center" style="background-color:#00977d;color:white;display:block;
        padding:10px 20px;width:30%;margin-right:auto;margin-left:auto">اضافه کردن محصول</a>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer">

<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/helpers/ajax.js"></script>
<script src="/js/SignUp.js"></script>
<script src="~/js/helpers/ProductAdminPanel.js"></script>