@{
    ViewData["Title"] = "AdminPanel";
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="~/global.css" />
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/css/ProductAdminPanel.css" asp-append-version="true" />

    Layout = null;

}
<div>
    <!-- <section class="d-flex" style="background-color: #eee;" id="show"> -->
    <div class="container py-5 ">
        <div class="row d-flex " id="show">
            <div class="col-12 mt-3">
            </div>
        </div>
    </div>
    <!-- </section> -->

</div>
<div class="login">
    <div class="login-triangle"></div>

    <h2 class="login-header">Log in</h2>

    <form class="login-container">
       <div class="d-flex">
            <p><input type="text" placeholder="نام محصول"></p>
            <p><input type="text" placeholder="توضیحات محصول"></p>
       </div>
        <div class="d-flex">
            <p><input type="text" placeholder="قیمت محصول"></p>
            <p><input type="text" placeholder="قیمت تخفیف"></p>
       </div>
        <div class="d-flex">
            <p><input type="text" placeholder="کشور"></p>
            <p><input type="text" placeholder="برند"></p>
       </div>
        <div class="d-flex">
            <p><input type="text" placeholder="کشور"></p>
            <p><input type="text" placeholder="برند"></p>
       </div>
        <div class="d-flex">
            <p><input type="text" placeholder="دسته بندی محصول"></p>
            <p><input type="text" placeholder="موجود"></p>
       </div>
       <div>
            <p><input type="text" placeholder="تعداد"></p>
       </div>
        <a href="#" class="text-center">اضافه کردن محصول</a>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer">

<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/helpers/ajax.js"></script>
<script src="/js/SignUp.js"></script>
<script src="~/js/helpers/ProductAdminPanel.js"></script>