
@{

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    @* <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />*@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="~/global.css" />
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/css/firstpage.css">
    <link rel="stylesheet" href="~/css/viewProduct.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-Avb2QiuDEEvB4bZJYdft2mNjVShBftLdPG8FJ0V7irTLQ8Uo0qcPxh4Plq7G5tGm0rU+1SPhVotteLpBERwTkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<style>

    * {
        direction: rtl;
        padding: 0%;
        margin: 0%;
        font-weight: 900;
        font-size: 20px;
    }

    a {
        text-decoration: none;
        font-size: 20px;
    }
</style>
<body>
   
    <h1>تعداد محصولات پیدا شده:  <p>@ViewBag.search.Count</p></h1>
    <div>
        <!-- <section class="d-flex" style="background-color: #eee;" id="show"> -->
        <div class="container py-5 ">
            <div class="row d-flex " id="search">
                
                   @foreach (var item in ViewBag.search)
                    {
                        <div class="col-3 mt-5" mb-5">
                            <div class="card text-black ms-1 text-center pb-3">
                                <img src="/axstore/@item.ImageURL"
                                     class="card-img-top" alt="Apple Computer" />
                                <div class="card-body">
                                    <div class="text-center">
                                        <h6 class="card-title mt-2">نام محصول :@item.ProductName </h6>
                                        <p class="text-muted mb-3 mt-3">تعداد :@item.Count </p>
                                    </div>
                                    <div>
                                        <div class="mt-3 mb-4">
                                            <p>قیمت :@item.OrginalPrice </p>
                                        </div>
                                        <a  asp-controller="Home" asp-action="SingleProduct" asp-route-ProductId="@item.Id"
                                           style="   background-color:rgb(255, 0, 98);
                        color:white;
                        font-size: 11px;
                        padding: 10px 15px;
                        border-radius: 5px;">مشاهده محصول</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                
            </div>
        </div>
        <!-- </section> -->

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.js" integrity="sha512-Ysw1DcK1P+uYLqprEAzNQJP+J4hTx4t/3X2nbVwszao8wD+9afLjBQYjz7Uk4ADP+Er++mJoScI42ueGtQOzEA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/helpers/ajax.js"></script>
    <script src="/js/search.js"></script>



    </div>


</body>
</html>
