@{
    ViewData["Title"] = "Product page";
}


<div class="d-flex mb-5" id="singleproduct" style="width: 100%;justify-content: center;">
</div>
<div class="comments mt-xl-4" id="comments">
</div>

@section Scripts {
   <script src="/js/product & comments.js"></script>
}